# example netlify.toml
[build]
  command = "npm run build"
  publish = "dist"

  ## (optional) Settings for Netlify Dev
  ## https://github.com/netlify/cli/blob/main/docs/netlify-dev.md#project-detection
[dev]
  command = "npm run dev"
  targetPort = 3000
  framework = "vite"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
#  external_node_modules = ["express", "import-fresh"]

[functions."getFromTosForFen"] 
   included_files = ["data/fromToPositionIndexed.json"]

 [functions."scoresForFens"] 
   included_files = ["data/scores.json"]

[functions."queryMasterGamesByFen"]
   included_files = ["data/indexes/opening-by-fen.json", "data/indexes/chunk-*.json"]

  ## [functions."courses"] 
  ##  included_files = ["dataForLambdas/courseHtml/**/*.html"]

  ## Uncomment to use this redirect for Single Page Applications like create-react-app.
  ## Not needed for static site generators.
  #[[redirects]]
  #  from = "/*"
  #  to = "/index.html"
  #  status = 200

  ## more info on configuring this file: https://www.netlify.com/docs/netlify-toml-reference/
