/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 2px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  margin: 0.5em 0.3em 0.3em 0.3em;
  padding: 5px 14px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  transition: all 0.15s ease;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
  box-shadow: rgba(0, 0, 0, 0.12) 0 2px 4px;
  transform: translateY(-1px);
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.3) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px inset;
  transform: translateY(0);
}
