/* from https://css-tricks.com/overlapping-bar-charts/ */

body {
    margin: 0;
    padding: 0;
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.chart {
    display:flex;
}


/* Y-AXIS STYLES */

.numbers {
  color: #fff;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 10px 0 0;
  padding: 0;
}

.numbers dd {
  background-image: linear-gradient(45deg, #000, #333);
  padding: 0 5px;
  font-size: 14px;
  font-weight: 600;
  align-items: center;
  justify-content:center;
  display: flex;
  margin: 0;
  flex: 60px;
  width: 100%;
}

/* BAR STYLES */

.bars {
  background: #111;
  padding: 0px 20px;
  display: flex;
  flex: auto;
  gap: 50px;
  margin: 0;
  position: relative;
}

.bars > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  width: 10px;
}

.bars dt {
  font-size: 14px;
  color: #fff;
  position:absolute;
  bottom: -35px;
  z-index: 2;
}

.bars dd .bar {
   display: block;
    background: white;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    transition: 0.5s;
    transition-property: box-shadow;
    z-index: 2;
}

.bars dd .bar:hover {
    box-shadow: 0px 2px 8px 1px #25deaa;
    cursor: pointer;
}

.bars dd .overlapWhite {
    background: white;
    z-index: 100;
    width: 30px;
    margin-left: -5px;
}

.bars dd .overlapBlack {
  background: black;
  z-index: 200;
  width: 20px;
  margin-left: 1px;

}

.bars dd .overlapDraw {
    background: gray;
    z-index: 50;
    width: 40px;
    margin-left: -10px;
  }

.bars dd .overlap:hover {
    box-shadow: 0px 2px 8px 1px #696969;
}


.bar:focus {
  outline: 1.5px solid #f1f1f1;
}


.visually-hidden {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/* LEGEND STYLES */

.legend {
  position: relative;
}

.legend div::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  margin: 3px -15px;
}

.legend .type1 {
  margin: 10px 0px;
  color: #ffffff;
}

.legend .type1::before {
  background-color: #25deaa;
}

.legend .type2 {
  color: #ffffff;
}

.legend .type2::before {
  background-color: #838383;
}

.bars dd .bar {
    height: calc(var(--pctg) * 1%)
}