.radio-style {
  display: flex;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-left: 2em;
  gap: 1em;
}

.news {
  font-size: smaller;
  padding-right: 1em;
  padding-left: 1em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.games-tab-grid {
  display: grid;
  grid-template-columns: minmax(40px, 0.2fr) minmax(80px, 1fr) minmax(
      120px,
      2fr
    ) minmax(120px, 2fr) minmax(150px, 4fr) minmax(60px, 0.5fr);
  max-height: 250px;
  gap: 3px;
  grid-column-gap: 1em;
  min-width: max-content;
}

#games-header {
  margin-top: 10px;
  color: antiquewhite;
}
#games-header > span > span {
  font-size: small;
  margin-left: 1em;
}

#games-rows {
  overflow-y: scroll;
}

.games-container {
  overflow-x: auto;
  width: 100%;
}

.additional-details-loading {
  display: grid;
  grid-template-columns: auto;
  grid-column-start: 2;
  grid-column-end: auto;
}

.additional-details {
  display: contents;
  grid-column-start: 1;
  text-align: left;
  color: white;
}

.ellipses {
  border: solid 1px darkgray;
  font-size: 16pt;
  color: limegreen;
  display: inline-block;
  line-height: 0px;
  border-radius: 3px;
  height: 12px;
}

.hover-effect:hover {
  background-color: deeppink;
  cursor: pointer;
}

.opening-details {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 1em;
}

.game-details {
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: left;
  grid-auto-rows: minContent;
  grid-auto-columns: minContent;
  margin-left: 0.6em;
  color: mintcream;
}

.openings-grid {
  display: grid;
  grid-template: 1fr 2fr;
  max-height: 250px;
  min-width: 0;
  max-width: 100%;
  margin-top: 1em;
  overflow-x: auto;
}

.players {
  white-space: nowrap;
  color: powderblue;
  justify-content: space-evenly;
}

.player {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 2em;
}

.grid-style-top-panel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 50%;
  overflow-y: scroll;
  gap: 1em;
}

.grid-style-top-panel > div {
  min-width: 0;
  overflow: hidden;
}

@media (max-width: 768px) {
  .grid-style-top-panel {
    grid-template-columns: 1fr;
    height: auto;
    overflow-y: visible;
  }

  .grid-style-top-panel > div {
    overflow: visible;
  }

  /* Hide RSS feed on mobile - show only PGN list */
  .grid-style-top-panel > div:nth-child(2) {
    display: none;
  }
}

.link-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3px;
  grid-column-gap: 2em;
  margin-left: 2em;
  max-height: 0;
  text-align: start;
  color: white;
}

.pgn-tabs-panel {
  position: relative;
  background-color: #3f3f3f;
}
