html {
  height: 100%;
  /* background: url("../public/resources/background.jpg") no-repeat center fixed; */
  background-color: #2d3748;
  background-size: cover;
}

.App {
  text-align: center;
}

.App-title {
  font-size: xx-large;
  font-weight: bold;
  margin: 0.25em;
  margin-bottom: 0px;
}

.App-header {
  background-color: #1a202c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
}

.App-subheading {
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin: 0.15em;
  margin-top: 0px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.font-cinzel {
  font-family: "Cinzel", serif;
}

.font-shadow {
  text-shadow: 1px 1px 0px black;
}

p,
td,
th,
.white {
  color: white;
}

.underline {
  text-decoration: underline;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.centered-sm {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -190%);
}

.centered-table,
th,
td {
  border: 2px solid white;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: brightness(0.7);
  border-collapse: collapse;
}

/* Not sure where these originally came from: */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.padded {
  margin: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 10px;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.menubar {
  background-color: #374151;
}

.menuitem {
  border-radius: 2em / 0.8em;
  height: 2.2em;
  background: #4b5563;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.menuitem:hover {
  background: #6b7280;
  cursor: pointer;
}

.menuitem > span,
.menuitem > label {
  color: #ffffff;
  font-weight: bold;
}

.menuitem.selected {
  background: #2ea44f;
}

.menuitem.selected > span {
  color: #ffffff;
  font-weight: bold;
}

.fakeLink {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: medium;
  border: none;
  color: #6ee7a7;
  cursor: pointer;
  display: flex;
}

.fakeLink:hover {
  text-decoration: underline;
}

.scrollableList {
  height: 75%;
  overflow: hidden;
  overflow-y: scroll;
  color: #4ade80;
  border: 2px solid;
  scrollbar-color: #2ea44f;
  backdrop-filter: brightness(0.7);
}

/* width */
.scrollableList::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.scrollableList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.scrollableList::-webkit-scrollbar-thumb {
  background: #2ea44f;
  border-radius: 5px;
}

/* Handle on hover */
.scrollableList::-webkit-scrollbar-thumb:hover {
  background: #25a03e;
}

.sites {
  margin-left: "2em";
}

.sitesColor {
  color: rgb(158, 186, 110);
  font-weight: bolder;
  font-size: large;
}

.player {
  color: white;
  backdrop-filter: brightness(0.7);
}

.darkBackground {
  backdrop-filter: brightness(0.7);
}

div.scrollable {
  display: flex;
  overflow-x: scroll;
  max-width: 100%;
  white-space: nowrap;
}

div.scrollableY {
  flex: 0 0 300px;
  overflow: auto;
  white-space: nowrap;
}
